name: PR Workflow

on:
  pull_request:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Environment to deploy to'
        required: true
        type: choice
        options:
        - dev
        - stg
        - test
        default: 'dev'
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Hello world
      run: echo "Hello, GitHub Actions!"

  deploy:
    needs: build
    runs-on: ubuntu-latest
    environment:
            name: ${{ github.event.inputs.environment }}
    env:
      ENV: ${{ github.event.inputs.environment }}
      TEST: ${{ secrets.TEST }}
    steps:
    - name: Check for TEST secret
      run: |
        if [ -z "${{ env.TEST }}" ]; then
          echo "Error: The 'TEST' secret is not set. Please add it in the repository or environment settings."
          exit 1
        fi
    - name: Deploy to ${{ github.event.inputs.environment }}
      run: echo "Deploying to ${{ github.event.inputs.environment }} with ENV=${ENV}"
    - name: Show TEST secret
      run: echo "The value of TEST is ${{ env.TEST }}"

  deploy2:
    needs: deploy
    runs-on: ubuntu-latest
    steps:
    - name: Deploy to
      run: echo "Deploying to test"