name: PR Workflow

on:
  pull_request:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Environment to deploy to'
        required: true
        type: choice
        options:
        - dev
        - stg
        - prd
        default: 'dev'
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Hello world
      run: echo "Hello, GitHub Actions!"

  deploy:
    needs: build
    runs-on: ubuntu-latest
    environment: ${{ github.event.inputs.environment }}
    env:
      ENV: ${{ github.event.inputs.environment }}
      TEST: ${{ secrets.TEST }}
    steps:
    - name: Deploy to ${{ github.event.inputs.environment }}
      run: echo "Deploying to ${{ github.event.inputs.environment }} with ENV=${ENV}"
    - name: Show TEST secret
      run: echo "The value of TEST is ${{ env.TEST }}"

  deploy2:
    needs: build
    runs-on: ubuntu-latest
    environment: ${{ github.event.inputs.environment }}
    env:
      ENV: ${{ github.event.inputs.environment }}
      TEST: ${{ secrets.TEST }}
    steps:
    - name: Deploy to ${{ github.event.inputs.environment }}
      run: echo "Deploying to ${{ github.event.inputs.environment }} with ENV=${ENV}"
    - name: Show TEST secret
      run: echo "The value of TEST is ${{ env.TEST }}"