name: PR Workflow

on:
  pull_request:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Environment to deploy to'
        required: true
        type: choice
        options:
        - dev
        - stg
        - prd
        default: 'dev'
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Hello world
      run: echo "Hello, GitHub Actions!"

  deploy:
    needs: build
    runs-on: ubuntu-latest
    environment:
            name: ${{ github.event.inputs.environment }}
    steps:
    - name: Check for TEST secret
      run: echo ${{ environment.name }}
    - name: Deploy to ${{ environment.name }}
      run: echo "Deploying to environment: ${{ environment.name }}"
    - name: Show TEST secret
      env:
        TEST: ${{ secrets.TEST }}
      run: echo "The value of TEST is $TEST"

  deploy2:
    needs: deploy
    runs-on: ubuntu-latest
    steps:
    - name: Deploy to 
      run: echo "Deploying to test"