name: PR Workflow

on:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Hello world
      run: echo "Hello, GitHub Actions!"